@use "../base/variables" as v;
@use "../base/mixins" as m;

.sobres-festival{
  @include m.contenedor;

  @include m.tablet{
    @include m.grid(2, 5rem);
    }
}
.contenido-festival{
  //@include m.contenedor;
  margin-top: 5rem;
  h2{
    margin-bottom: 2rem;
  }
  .fecha{
    color: v.$verde;
    font-weight: bold;
  }
}